/* Palette - Primary */
$strm-color-primary-00: #4361ee;
$strm-color-primary-40: #3449ad;
$strm-color-primary-80: #253480;
$strm-color-primary-100: #282a39;

/* Palette - Neutral */
$strm-color-neutral-02: #eaeaea;
$strm-color-neutral-10: #e6e6e6;
$strm-color-neutral-40: #9a9a9a;
$strm-color-neutral-80: #282828;
$strm-color-neutral-100: #1c1c1c;

/* Alert */
$color-alert: #ef233c;

/* Gradient */
$strm-color-gradient-01: linear-gradient(90deg, #3f37c9 7.57%, #4361ee 88.38%);

/* Black - Transparent */
$strm-opacity-black-05: rgba(0, 0, 0, 0.05);
$strm-opacity-black-10: rgba(0, 0, 0, 0.1);
$strm-opacity-black-20: rgba(0, 0, 0, 0.2);
$strm-opacity-black-40: rgba(0, 0, 0, 0.4);
$strm-opacity-black-80: rgba(0, 0, 0, 0.8);

/* Whites- Transparent */
$strm-opacity-white-05: rgba(255, 255, 255, 0.05);
$strm-opacity-white-10: rgba(255, 255, 255, 0.1);
$strm-opacity-white-20: rgba(255, 255, 255, 0.2);
$strm-opacity-white-40: rgba(255, 255, 255, 0.4);
$strm-opacity-white-80: rgba(255, 255, 255, 0.8);

/* Typography colors */
$strm-color-text-white: $strm-color-neutral-02;
$strm-color-text-light: $strm-color-neutral-40;
$strm-color-text-dark: $strm-color-neutral-80;
$color-text-icon-default: $strm-color-neutral-02;

/* Background colors */
$strm-color-background: $strm-color-neutral-80;
$strm-button-color-background-primary-default: $strm-color-gradient-01;
$strm-button-color-background-primary-hover: $strm-color-primary-80;
$strm-button-color-background-primary-pressed: $strm-color-primary-100;

$strm-button-color-background-secondary-default: $strm-color-neutral-100;
$strm-button-color-background-secondary-hover: $strm-opacity-white-05;
$strm-button-color-background-secondary-pressed: $strm-opacity-white-10;

/* Borders */
$strm-button-color-border-secondary: $strm-color-gradient-01;
$button-color-border-tertiary: $strm-opacity-white-20;

/* Elevations */
//                                $strm-color-primary-00 + 0.349 opacity
//                                                 |
//                                                 V
$strm-button-shadow-primary: 3px 3px 8px 1px #4463ee59; /* Use in box-shadow */
