@mixin button {
  height: fit-content;

  border-radius: 0.5rem;
  border: none;
  color: $strm-color-text-white;

  padding: $strm-space-sm $strm-space-md;

  cursor: pointer;
  @include button1;
}

@mixin button-primary {
  @include button;

  background-image: $strm-color-gradient-01;
  box-shadow: $strm-button-shadow-primary;

  &:hover {
    background-image: none;
    background-color: $strm-color-primary-40;
  }

  &:active {
    background-image: none;
    background-color: $strm-color-primary-80;
  }
}

@mixin button-secondary {
  @include button;

  background-image: none;
  box-shadow: none;
  background-color: transparent;
  border-color: $strm-color-primary-00;

  border-color: #4361ee;
  border-width: 1px;
  border-style: solid;

  &:hover {
    background-image: none;
    background-color: $strm-opacity-white-05;
  }

  &:active {
    background-image: none;
    background-color: $strm-opacity-white-10;
  }
}

@mixin button-tertiary {
  @include button;

  background-image: none;
  box-shadow: none;
  background-color: transparent;

  &:hover {
    background-image: none;
    background-color: none;
  }

  &:active {
    background-image: none;
    background-color: none;
  }
}

@mixin button-small {
  padding: 4px $strm-space-md;
  @include button2;
}

/* Creating classes for everything */
.button {
  @include button;

  &.primary {
    @include button-primary;
  }

  &.secondary {
    @include button-secondary;
  }

  &.tertiary {
    @include button-tertiary;
  }

  &.small {
    @include button-small;
  }
}
